html{
    background-color: #f28482;
}

 .container_center{
    background-color: #f28482;
    display:flex; 
    flex-direction:column;
    justify-content:center; 
    min-height: 100vh;
}

.header{
    background-color: #5e60ce;
}

.header_thickPart{
    font-weight:bold ;
}

